.env
.DS_Store
._*

# IntelliQA Project

/IntelliQA/venv-intelliqa
/IntelliQA/chroma_db
/IntelliQA/data/
/IntelliQA/__pycache__


# SupportIQ Project
/SupportIQ/venv/
/SupportIQ/output/final_merged_model/model.safetensors
/SupportIQ/output/final_merged_model/model.tar.gz
